body {
  font-family: Arial;
  margin: 0;
  background: #f4f6fb;
}

header {
  background: #1f2937;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.map-box {
  height: 300px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spot {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}
